{% extends 'base.html.twig' %}

{% block title %}
    <title>Jean-Baptiste Armengaud</title>
{% endblock %}

{% block presentation_menu %}

{% endblock %}

{% block body %}
<div class="container px-lg-5">
    <!-- Projects Section-->
    <section class="py-5">
        <div class="text-center mb-5">
            <h1 class="mb-0">Projets</h1>
        </div>
        <div class="col-12">
            <!-- Projets pro -->
            <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                <div class="row g-0 flex-column-reverse flex-lg-row h-100">
                    <div class="col-12 col-lg-8">
                        <div class="card-body text-center text-lg-start h-100">
                            <h2 class="card-title fw-bolder">Yesss Electrique</h2>
                            <h4 class="subheading">Projets professionnels</h4>
                            <p class="card-text"><small class="text-muted">Réalisés entre Janvier 2023 et Mai 2024</small></p>
                            
                            <p class="card-text blur-text blur-end">
                                Durant presque un an et demi, j'ai été chargé de diverses missions sur les 3 principaux sites de Yesss Electrique : site public, site interne (Intrayesss) et le site e-commerce BtoB (Yessspro). <br>
                                Allant de la correction de bug à la création de nouveaux programmes complets, en passant par l'ajout ou la modification de fonctionnalités, voici quelques exemples de mes réalisations.
                            </p>
                            
                            <div class="collapse" id="yesssCollapseContent">
                                <h3>Programmes et fonctionnalités</h3>
                                
                                <div id="carouselYesss" class="carousel carousel-dark slide mb-5">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img src="{{ asset('assets/img/projets/yesss/configurateurs.jpeg')}}" class="capture img-fluid rounded w-100" alt="yesss_electrique_excel_stocks" data-bs-toggle="modal" data-bs-target="#imageModal">
                                            <div class="carousel-caption">
                                                <h4>Configurateurs produits</h4>
                                                <p class="text-muted carousel-description-text">Créés par les fournisseurs Legrand, Schneider, etc
                                                <br>Permettent d'obtenir une liste de produits à intégrer directement dans un panier</p>
                                                <ul>
                                                    <li><i class="fa-solid fa-arrow-right"></i> Intégration en iframe des configurateurs sur les 3 sites</li>
                                                    <li><i class="fa-solid fa-arrow-right"></i> Création de routes API pour traiter les listes de produits reçues</li>
                                                    <li><i class="fa-solid fa-arrow-right"></i> Création d'un panier/devis en fonction du contexte</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="carousel-item">
                                            <img src="{{ asset('assets/img/projets/yesss/historique-client.png')}}" class="capture img-fluid rounded w-100" alt="yesss_electrique_hitoriques_client" data-bs-toggle="modal" data-bs-target="#imageModal">
                                            <div class="carousel-caption">
                                                <h4>Historiques client</h4>
                                                <p class="text-muted carousel-description-text">Refonte complète d'un programme 4 en 1 réunissant différents historiques d'un client :<br>achats facturés (agence et web), commandes web, devis réalisés et consultations de produits en ligne</p>
                                                <ul>
                                                    <li><i class="fa-solid fa-arrow-right"></i> Création de nouvelles requêtes MySQL</li>
                                                    <li><i class="fa-solid fa-arrow-right"></i> Mutualisation du code pour les 4 historiques</li>
                                                    <li><i class="fa-solid fa-arrow-right"></i> Réalisation de la partie Front avec la librairie JS DataTables</li>
                                                    <li><i class="fa-solid fa-arrow-right"></i> Filtres par fournisseur et catégorie produit</li>
                                                    <li><i class="fa-solid fa-arrow-right"></i> Création d'un export Excel avec sélection d'options d'export (PHPSpreadsheet)</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="carousel-item">
                                            <img src="{{ asset('assets/img/projets/yesss/echange-produits-agences.png')}}" class="capture img-fluid rounded w-100" alt="yesss_electrique_echange_produits_agences" data-bs-toggle="modal" data-bs-target="#imageModal">
                                            <div class="carousel-caption w-100">
                                                <h4>Site interne : déstockage entre agences</h4>
                                                <p class="text-muted carousel-description-text">Programme permettant à l'utilisateur de voir les références qui ne se vendent pas dans son agence pour les échanger avec une agence qui en aurait besoin.
                                                    Par défaut le programme affiche, par référence, la liste des agences susceptibles de vendre le mieux la référence.
                                                </p>
                                                <ul>
                                                    <li><i class="fa-solid fa-arrow-right"></i> Ajout d'un mode permettant de voir, par agence, les références communes pouvant être échangées</li>
                                                    <li><i class="fa-solid fa-arrow-right"></i> Refonte de l'export Excel par agence (PHPSpreadsheet)</li>
                                                    <li><i class="fa-solid fa-arrow-right"></i> Ajout d'exports Excel par Direction Régionale et Direction Générale</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="carousel-item">
                                            <img src="{{ asset('assets/img/projets/yesss/stocks.png')}}" class="capture img-fluid rounded w-100" alt="yesss_electrique_stocks" data-bs-toggle="modal" data-bs-target="#imageModal">
                                            <div class="carousel-caption w-100">
                                                <h4>Site interne : consultation des stocks des plateformes logistiques</h4>
                                                <ul>
                                                    <li><i class="fa-solid fa-arrow-right"></i> Dynamisation de la liste des plateformes et des fournisseurs produits</li>
                                                    <li><i class="fa-solid fa-arrow-right"></i> Gestion de l'affichage de toutes les plateformes et sélection multiple des fournisseurs produits</li>
                                                    <li><i class="fa-solid fa-arrow-right"></i> Ajout de filtres par catégorie produit (jusqu'à 4 niveaux)</li>
                                                    <li><i class="fa-solid fa-arrow-right"></i> Refonte totale de l'export Excel (PHPSpreadsheet)</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="carousel-indicators">
                                        <button type="button" data-bs-target="#carouselYesss" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Configurateurs produits"></button>
                                        <button type="button" data-bs-target="#carouselYesss" data-bs-slide-to="1" aria-label="Historiques client"></button>
                                        <button type="button" data-bs-target="#carouselYesss" data-bs-slide-to="2" aria-label="Destockage interne"></button>
                                        <button type="button" data-bs-target="#carouselYesss" data-bs-slide-to="3" aria-label="Stocks plateformes"></button>
                                    </div>
                                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselYesss" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Précédente</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#carouselYesss" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Suivante</span>
                                    </button>
                                </div>
                            </div>
                            
                            <div class="d-flex gap-2 flex-wrap align-items-end justify-content-center">
                                <a class="collapse-button" data-bs-toggle="collapse" href="#yesssCollapseContent" role="button" aria-expanded="false" aria-controls="yesssCollapseContent">
                                    <i class="bi bi-chevron-compact-down"></i>
                                    <i class="bi bi-chevron-compact-up"></i>
                                </a>
                            </div>
                            
                            <a class="btn btn-primary btn-lg mt-3 py-3 fs-6 fw-bolder" href="https://yesss.fr" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i>&nbsp;Accéder au site public</a>
                        
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 card-img-yesss">
                        <img src="{{ asset('assets/img/projets/yesss/logo_yesss-electrique.png')}}" class="img-fluid rounded-start w-100" alt="logo_yesss_electrique" data-bs-toggle="modal" data-bs-target="#imageModal">
                    </div>
                </div>
            </div>
            
            <!-- Projet perso -->
            <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                <div class="row g-0 flex-column flex-lg-row h-100">
                    <div class="col-12 col-lg-4 card-img-progcine">
                        <img src="{{ asset('assets/img/projets/prog_cine_calendrier.png')}}" class="img-fluid rounded-start w-100" alt="programmation_cine_liste_films" data-bs-toggle="modal" data-bs-target="#imageModal">
                    </div>
                    <div class="col-12 col-lg-8">
                        <div class="card-body text-center text-lg-start h-100">
                            <h2 class="card-title fw-bolder">Prog ciné</h2>
                            <h4 class="subheading">Projet personnel</h4>
                            <p class="card-text"><small class="text-muted">En cours de développement</small></p>
                            
                            <p class="card-text">Outil de programmation de séances de cinéma.</p>
                            <p class="card-text blur-text blur-end">
                                L'idée de ce projet est née d'un besoin que j'avais en travaillant durant près de 8 ans dans un cinéma associatif avec près de 70 bénévoles, répartis dans différentes équipes (administratif, caisse, projection, contrôle, restauration, etc).
                            </p>
                            
                            <div class="collapse" id="progcineCollapseContent">
                                <p class="card-text">Je cherche ici à créer un outil permettant à la fois de faire la planification précise des séances de cinéma et d'organiser la gestion des équipes bénévoles nécessaires à leur bon déroulement.</p>
                                <p class="card-text">Les technologies utilisées pour ce projet sont le framework Symfony (version 6.1 puis 6.4) avec la librairie Javascript FullCalendar (version 5).</p>
                                <h4 class="card-text">Fonctionnalités existantes :</h4>
                                <ul class="">
                                    <li>Création/modificiation/suppression d'une fiche film (titre, URL de l'affiche, versions, durée, date de sortie)</li>
                                    <li>Ajout/modification/suppression de semaines de programmation</li>
                                    <li>Ajout/modification/suppression de séances sur ces semaines, soit via un formulaire soit par simple glisser-déposer sur le calendrier.</li>
                                </ul>
                                <h4 class="card-text">Fonctionnalités à venir :</h4>
                                <ul class="">
                                    <li>Gestion de profils utilisateurs (admin et user) pour gérér l'inscription des bénévoles des différentes équipes sur les séances</li>
                                </ul>
                            
                            </div>
                            <div class="d-flex gap-2 flex-wrap align-items-end justify-content-center">
                                <a class="collapse-button" data-bs-toggle="collapse" href="#progcineCollapseContent" role="button" aria-expanded="false" aria-controls="progcineCollapseContent">
                                    <i class="bi bi-chevron-compact-down"></i>
                                    <i class="bi bi-chevron-compact-up"></i>
                                </a>
                            </div>
                            
                            <a class="btn btn-primary btn-lg mt-3 py-3 fs-6 fw-bolder" href="/calendar" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i>&nbsp;Accéder au site</a>
                        
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Projet formation -->
            <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                <div class="row g-0 flex-column-reverse flex-lg-row h-100">
                    <div class="col-12 col-lg-8">
                        <div class="card-body text-center text-lg-start h-100">
                            <h2 class="card-title fw-bolder">Watch'art</h2>
                            <h3 class="subheading">Projet de fin de formation</h3>
                            <p class="card-text"><small class="text-muted">Terminé en juillet 2022</small></p>
                            
                            <p class="card-text">Watch'art est une carte interactive permettant d'ajouter et de consulter des points d'intérêts artistiques à n'importe quel endroit du globe.</p>
                            <p class="card-text blur-text blur-end">L'équipe était composée de 3 développeurs front (Hector Colard, Odelin Zadra et Michael Bar) et 2 développeurs back (Thibaud Guignard et moi-même).</p>
                            
                            
                            <div class="collapse" id="watchartCollapseContent">
                                <p class="card-text">Ce projet a été réalisé dans le cadre de la formation Développeur web, que j'ai suivi à l'école O'clock entre janvier et juin 2022, en suivant la méthode Scrum et en quasi totale autonomie, sur 4 sprints d'une semaine chacun durant le mois de juin 2022.</p>
                                <p class="card-text">Les technologies front-end utilisées sont React, React-Redux et React Leaflet.</p>
                                <p>Pour la partie back-end nous avons créé une API REST avec le framework Symfony avec une base de données en MySQL.</p>
                                <h4 class="card-text">Présentation de l'application à l'ensemble de la promotion sur YouTube :</h4>
                                <div class="col-12">
                                    <iframe class="video" src="https://www.youtube.com/embed/WjrPnFDAWpw?si=pA7vDZnMfOjTn2jW&amp;start=3797" title="Presentation Watchart" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                </div>
                            </div>
                            
                            <div class="collapse-button-div d-flex gap-2 flex-wrap align-items-end justify-content-center">
                                <a class="collapse-button" data-bs-toggle="collapse" href="#watchartCollapseContent" role="button" aria-expanded="false" aria-controls="watchartCollapseContent">
                                    <i class="bi bi-chevron-compact-down"></i>
                                    <i class="bi bi-chevron-compact-up"></i>
                                </a>
                            </div>
                            
                            <a class="btn btn-primary btn-lg mt-3 py-3 fs-6 fw-bolder" href="/watchart" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i>&nbsp;Accéder au site</a>
                        
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 card-img-watchart">
                        <img src="{{ asset('assets/img/projets/logo_White.png')}}" class="img-fluid rounded-start" alt="logo_watchart" data-bs-toggle="modal" data-bs-target="#imageModal">
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}

{% block modales %}
    <!-- Modale image -->
    <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img src="" class="img-fluid" alt="Image" id="modalImage">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
